[defaults]
inventory = inventories/example/hosts.yml
roles_path = roles
collections_path = .local/collections
local_tmp = .local/tmp
log_path = .local/ansible.log
retry_files_enabled = False
host_key_checking = True
interpreter_python = auto_silent
stdout_callback = default
display_skipped_hosts = False

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = False

[ssh_connection]
pipelining = True
